USE [master]
GO
/****** Object:  Database [Finance]    Script Date: 13-11-2024 12:25:01 ******/
CREATE DATABASE [Finance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Finance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Finance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Finance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Finance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Finance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Finance]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13-11-2024 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 13-11-2024 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Budgets] PRIMARY KEY CLUSTERED 
(
	[BudgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 13-11-2024 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ExpenseDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incomes]    Script Date: 13-11-2024 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incomes](
	[IncomeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Source] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IncomeDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Incomes] PRIMARY KEY CLUSTERED 
(
	[IncomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13-11-2024 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-11-2024 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241108043445_initial', N'8.0.10')
GO
INSERT [dbo].[Budgets] ([BudgetId], [UserId], [Category], [Amount], [CreateDate]) VALUES (1, 1, N'Medical', CAST(10000.00 AS Decimal(18, 2)), CAST(N'2025-05-10T12:14:49.1860000' AS DateTime2))
INSERT [dbo].[Budgets] ([BudgetId], [UserId], [Category], [Amount], [CreateDate]) VALUES (2, 2, N'Grocery', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2025-01-01T12:13:31.0600000' AS DateTime2))
GO
INSERT [dbo].[Expenses] ([ExpenseId], [UserId], [Category], [Amount], [ExpenseDate]) VALUES (1, 1, N'Medical', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2025-02-12T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Expenses] ([ExpenseId], [UserId], [Category], [Amount], [ExpenseDate]) VALUES (2, 2, N'Grocery', CAST(7000.00 AS Decimal(18, 2)), CAST(N'2025-03-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Expenses] ([ExpenseId], [UserId], [Category], [Amount], [ExpenseDate]) VALUES (3, 3, N'Education', CAST(150000.00 AS Decimal(18, 2)), CAST(N'2024-11-08T12:20:54.2890000' AS DateTime2))
GO
INSERT [dbo].[Incomes] ([IncomeId], [UserId], [Source], [Amount], [IncomeDate]) VALUES (1, 1, N'Salary', CAST(50000.00 AS Decimal(18, 2)), CAST(N'2024-12-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Incomes] ([IncomeId], [UserId], [Source], [Amount], [IncomeDate]) VALUES (2, 2, N'Home Rent', CAST(40000.00 AS Decimal(18, 2)), CAST(N'2024-12-11T12:06:09.5420000' AS DateTime2))
INSERT [dbo].[Incomes] ([IncomeId], [UserId], [Source], [Amount], [IncomeDate]) VALUES (3, 2, N'Investment', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-10-11T12:03:28.6280000' AS DateTime2))
GO
INSERT [dbo].[Roles] ([RoleId]) VALUES (1)
INSERT [dbo].[Roles] ([RoleId]) VALUES (2)
INSERT [dbo].[Roles] ([RoleId]) VALUES (3)
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [RoleId]) VALUES (1, N'Sathya', N'S', N'sathyasowmi22@gmail.com', N'Sathya22', 1)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [RoleId]) VALUES (2, N'Jashu', N'K', N'Jashu123@gmail.com', N'Jashu123', 2)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [RoleId]) VALUES (3, N'Nivedhitha', N'p', N'Nivi456@gmail.com', N'Nivi1010', 2)
GO
/****** Object:  Index [IX_Budgets_UserId]    Script Date: 13-11-2024 12:25:02 ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_UserId] ON [dbo].[Budgets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expenses_UserId]    Script Date: 13-11-2024 12:25:02 ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_UserId] ON [dbo].[Expenses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incomes_UserId]    Script Date: 13-11-2024 12:25:02 ******/
CREATE NONCLUSTERED INDEX [IX_Incomes_UserId] ON [dbo].[Incomes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 13-11-2024 12:25:02 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Users_UserId]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Users_UserId]
GO
ALTER TABLE [dbo].[Incomes]  WITH CHECK ADD  CONSTRAINT [FK_Incomes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incomes] CHECK CONSTRAINT [FK_Incomes_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
